<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.fpt.edu.vn.registerscreen">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:name=".Application.SocketApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Patient App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MenuActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.DoctorList.ActivityDoctorList1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.DoctorList.ActivityDoctorList2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.DoctorList.ActivityDoctorList3"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.WaitingCallActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.CallActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DoctorProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ActivityHistoryDoctorView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ActivityForgotPass"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ActivityUserProfileChange"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activity.ActivityAppoint"
            android:screenOrientation="portrait"></activity>
        <service android:name=".Service.SocketServiceProvider"/>
    </application>

</manifest>